/*
Theme Name: Empty
Description: Пустой шаблон темы WordPress
Author: Куртеев Николай
Author URI: https://vk.com/skyholder
Version: 0.4
*/
/* =================
** Table of contents
** =================
**
** Reset
** General styles, container
** Header
** Content
** Footer
*/

/*
** Reset
**********************************************************************
*/
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
a img {
    border: 0;
}
/*
** end Reset
*/

/*
** General styles, container
**********************************************************************
*/
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

strong, b {
    font-style: normal;
    font-weight: bold;
}

em {
    font-style: italic;
}

sup,
sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    _vertical-align: bottom;
    position: relative;
    font-size: 70%;
}

sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}

.page-buffer {
    height: 50px;
    clear: both;
}
#page{
      min-height: 100%;
    margin-bottom: -50px;
}
* html #page {
    height: 100%;
}

/*fonts*/

/*css set*/
/*float*/
.fll, .alignleft{float: left}
.flr, .alignright{float: right}
.fln{float: none}
.alignleft, .alignright{margin: 5px}
.alignleft{margin-right: 15px}
.alignright{margin-left: 15px}
.clear{clear: both}
/*text align*/
.tal{text-align: left}
.tar{text-align: right}
.taj{text-align: justify}
.tac{text-align: center}

.vat{vertical-align: top}
.vam{vertical-align: middle;}
.vab{vertical-align: bottom;}
/*margin*/
.mr-0-a{margin: 0 auto}

.mt5{margin-top: 5px}
.mt10{margin-top: 10px}
.mt15{margin-top: 15px}
.mt20{margin-top: 20px}
.mt25{margin-top: 25px}
.mt30{margin-top: 30px}
.mt35{margin-top: 35px}
.mt40{margin-top: 40px}
.mt45{margin-top: 45px}
.mt50{margin-top: 50px}
.mt55{margin-top: 55px}
.mt60{margin-top: 60px}

.mb5{margin-bottom: 5px}
.mb10{margin-bottom: 10px}
.mb15{margin-bottom: 15px}
.mb20{margin-bottom: 20px}
.mb25{margin-bottom: 25px}
.mb30{margin-bottom: 30px}
.mb35{margin-bottom: 35px}
.mb40{margin-bottom: 40px}
.mb45{margin-bottom: 45px}
.mb50{margin-bottom: 50px}
.mb55{margin-bottom: 55px}
.mb60{margin-bottom: 60px}

.ml5{margin-left: 5px}
.ml10{margin-left: 10px}
.ml15{margin-left: 15px}
.ml20{margin-left: 20px}
.ml25{margin-left: 25px}
.ml30{margin-left: 30px}
.ml35{margin-left: 35px}
.ml40{margin-left: 40px}
.ml45{margin-left: 45px}
.ml50{margin-left: 50px}
.ml55{margin-left: 55px}
.ml60{margin-left: 60px}

.mr5{margin-right: 5px}
.mr10{margin-right: 10px}
.mr15{margin-right: 15px}
.mr20{margin-right: 20px}
.mr25{margin-right: 25px}
.mr30{margin-right: 30px}
.mr35{margin-right: 35px}
.mr40{margin-right: 40px}
.mr45{margin-right: 45px}
.mr50{margin-right: 50px}
.mr55{margin-right: 55px}
.mr60{margin-right: 60px}

/*padding*/
.pr5{padding-right: 5px}
.pr10{padding-right: 10px}
.pr15{padding-right: 15px}
.pr20{padding-right: 20px}
.pr25{padding-right: 25px}
.pr30{padding-right: 30px}
.pr35{padding-right: 35px}
.pr40{padding-right: 40px}
.pr45{padding-right: 45px}
.pr50{padding-right: 50px}
.pr55{padding-right: 55px}
.pr60{padding-right: 60px}

.pl5{padding-left: 5px}
.pl10{padding-left: 10px}
.pl15{padding-left: 15px}
.pl20{padding-left: 20px}
.pl25{padding-left: 25px}
.pl30{padding-left: 30px}
.pl35{padding-left: 35px}
.pl40{padding-left: 40px}
.pl45{padding-left: 45px}
.pl50{padding-left: 50px}
.pl55{padding-left: 55px}
.pl60{padding-left: 60px}

.pt5{padding-top: 5px}
.pt10{padding-top: 10px}
.pt15{padding-top: 15px}
.pt20{padding-top: 20px}
.pt25{padding-top: 25px}
.pt30{padding-top: 30px}
.pt35{padding-top: 35px}
.pt40{padding-top: 40px}
.pt45{padding-top: 45px}
.pt50{padding-top: 50px}
.pt55{padding-top: 55px}
.pt60{padding-top: 60px}

.pb5{padding-bottom: 5px}
.pb10{padding-bottom: 10px}
.pb15{padding-bottom: 15px}
.pb20{padding-bottom: 20px}
.pb25{padding-bottom: 25px}
.pb30{padding-bottom: 30px}
.pb35{padding-bottom: 35px}
.pb40{padding-bottom: 40px}
.pb45{padding-bottom: 45px}
.pb50{padding-bottom: 50px}
.pb55{padding-bottom: 55px}
.pb60{padding-bottom: 60px}

/*width*/
.wide{width: 100%}
.half{width: 50%}
.quart{width: 25%}
.quart3{width: 75%}
.three{width: 33%}
.three2{width:66%}

.wide,.half,.quart,.quart3,.three,.three2,.container{box-sizing: border-box;}
.container{width: 960px; margin: 0 auto;clear: both;position: relative}
/*display*/
.block{display: block}
.inline-block{display: inline-block}
.inline{display: inline}
.table{display: table}

/*cols*/
.col2{
  -webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
-webkit-column-gap: 30px;
-moz-column-gap: 30px;
column-gap: 30px;
-webkit-column-rule: 0px solid #000000;
-moz-column-rule: 0px solid #000000;
column-rule: 0px solid #000000;
}
.col3{
  -webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-gap: 20px;
-moz-column-gap: 20px;
column-gap: 20px;
-webkit-column-rule: 0px solid #000000;
-moz-column-rule: 0px solid #000000;
column-rule: 0px solid #000000;
}
.col4{
-webkit-column-count: 4;
-moz-column-count: 4;
column-count: 4;
-webkit-column-gap: 20px;
-moz-column-gap: 20px;
column-gap: 20px;
-webkit-column-rule: 0px solid #000000;
-moz-column-rule: 0px solid #000000;
column-rule: 0px solid #000000;
}
/*stripy table*/
.stripy{
   -moz-binding: url(bindings.xml#table);
}
.stripy tr{
   behavior: url(stripy.htc);
   -moz-binding: url(bindings.xml#stripy.htc);
   background-image: url("javascript:function makeStripy(tabClass){var tabs=document.getElementsByTagName('table');for (var e=0;e<tabs.length;e++) if (tabs[e].className==tabClass){var rows=tabs[e].getElementsByTagName('tr');for (var i=0;i<rows.length;i++) rows[i].className+=((i % 2)==0?' oddrows':' evenrows');}} if(window.opera) makeStripy('stripy');");
}

.stripy tr:nth-child(2n+1){
   background:#ffe;
}

.stripy tr:nth-child(2n){
   background:#efe;
}

.stripy .oddrows{
   background:#ffe;
}

.stripy .evenrows{
   background:#efe;
}
/*css set*/
/*
** end General styles, container
*/

/*
** Header
*/

/*
** end Header
*/


/*
** Content
*/

/*
** end Content
*/


/*
** Footer
*/


/*
** end Footer
*/
